body {
    background-color:#00ffe0;
}
h1 {
    color: #2a3439;
    font-size: 5rem;
    background-color: #e089bc;
    border-radius: 25px;
    text-align: center;
}
li {
    color: #2a3439;
    font-weight: bold;
}

.instrux-container {
    background-color: #e089bc;
    border: 4px dashed #2a3439;
}
.instrux-container h3 {
    color: #2a3439;
    font-size: 2rem;
}

.student-container {
    background-color: #e089bc;
    border: 4px dashed #2a3439;
}
.student-container h3 {
    color: #2a3439;
    font-size: 2rem;
}